@import './variables.css';

html {
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: var(--background-color);
}

:root {
  height: 100%;
}

* {
  box-sizing: border-box;
}
