.cardManager {
    margin: 20px;
    /*display: grid;
    row-gap: 20px;
    column-gap: 40px;
    grid-template-columns: 1fr 1fr auto;*/
    display: grid;
    grid-template-columns: auto;
    max-width: 980px;
    width: 100%;
    align-self: center;
  }

  .noData{
    color: var(--secondary-color);
    grid-column-start: 2;
  }