.itemText {
  display: flex;
  align-items: center;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.gridblockOuter {
  display: grid;
  grid-template-columns: 5fr 1fr;
  
}
.gridblockText {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.gridblockButton {
   display: grid;
   grid-template-columns: auto auto;
   align-items: center;
 }
@media (max-width: 600px) {
   .gridblockButton, .gridblockText {
      grid-template-columns: auto;
    }
}
